* {
    box-sizing: border-box;
}

body {
    background-image: url(blackFish.jpg);
    object-fit: cover;
    font-family: "poppins", sans-serif;
    margin: 0;
    background-size: 100%;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

.count {
    align-items: center;
    margin-top: 10%;
    margin-left: 2%;
}

h1 {
    font-size: 2rem;
    margin-left: 7%;
    color: rgb(155, 156, 157);
    font-weight: normal;
}

.count-down {
    display: flex;
}

.text {
    font-size: 3rem;
    color: rgb(238, 197, 144);
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
}

.center {
    text-align: center;
}

span {
    color: rgb(155, 156, 157);
    font-size: 0.9rem;

}